<div class = "caja">
    <div class = "container">
        <div class = "principal">
            {{numero}}
        </div>
        <div class = "botones">
            <button class = "boton1" type = "button" (click) = "sumar(numero)"> + </button>
            <button class = "boton2" type = "button" (click) = "restar(numero)"> - </button>
        </div>
    </div>

    <div class="mensaje">
        {{ mensaje }}
    </div>
</div>